.footer-div {
    background-color: #121212;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box; 
    z-index: 1000; 
}

.footer-icon {
    color: white;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.footer-icon:hover {
    color: #7DF9FF; 
}

.footer-div h5 {
    color: white
}
