/* navbar.css */

.navbar {
  background-color: #121212 !important;
  padding: 1rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.nav-link {
  display: inline-block;
  padding: 0.5rem 1rem;
}

/* Remove padding from nav-item */
.nav-item {
  padding: 0;
}

/* Active Link Styling */
.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #7DF9FF;
}

/* Hover Effect for Links */
.nav-link:hover {
  color: #7DF9FF;
}

/* Optional: Adjust positioning if needed */
.navbar-nav {
  align-items: center;
}

